[submodule "dependencies/shuild"]
	path = dependencies/shuild
	url = https://github.com/omerfuyar/shuild
[submodule "dependencies/shucio"]
	path = dependencies/shucio
	url = https://github.com/omerfuyar/shucio
